.searchBox{
  position: absolute;
  width: 250px;
  height: 200px;
  border: 1px solid #ddd;
  top: 45px;
  padding: 20px;
  box-sizing: border-box;
  .searchTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    span{

    }
  }
  .searchContent{

  }
}