.homeWrap{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.homeLeft{
    float: left;
    width: 625px;
    margin-left: 15px;
    margin-top: 30px;
    .listWrap{
        margin: 0 0 15px;
        padding: 15px 2px 20px 0;
        overflow: hidden;
        border-bottom: 1px solid #f0f0f0;
        .left{
            float: left;
            width: 458px;
            h3{
                font-size: 18px;
                line-height: 1.5;
                font-weight: blod;
            }
            .content{
                font-size: 13px;

            }
        }
        .right{
            float: right;
            width: 150px;
            height: 100px;
            img{
                width: 100%;
            }
        }
    }
}
.homeRight{
    float: left;
    width: 280px;
    margin-top: 30px;
    margin-left: 40px;
    .itemList{
        width: 280px;
        height: 50px;
        margin-bottom: 6px;
        img{
            width: 100%;
        }
    }
    .downWrap{
        position: relative;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px 22px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        .codeMin{
            width: 60px;
            height: 60px;
            img{
                width: 100%;
            }
        }
        .downCont{
            width: 143px;
            font-size: 13px;
            margin-left: 15px;
            p{
                font-weight: bold;
                font-size: 15px;
                margin-bottom: 10px;
            }
        }
        .codeMaxWrap{
            display: none;
            position: absolute;
            top: -230px;
            z-index: 100;
            width: 200px;
            height: 200px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 10px;
            background-color: #fff;
            img{
                width: 100%;
            }
        }
    }
    &:hover{
        .codeMaxWrap{
            display: block;
        }
    }
}

