@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1559552188400'); /* IE9 */
  src: url('./iconfont.eot?t=1559552188400#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALMAAsAAAAABnQAAAJ/AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBAIEcATYCJAMICwYABCAFhG0HMBvCBciuMTaGVk8kBNTsWkwpuNfn/gAAMCR47NfyJfklAImoGR25k0VF4G5q/MqCRXlU4ciIvf+1Nida0pw1lWQCSfvK/BWfHSzzCJGSCfFCIkQIjQZYABTVAAFm6JPBrD5/JwNbAaPyWm7M6f7PMdPl8yjMDzSXjORIwIFNBxhVNLI7kEO/YewCl3AeAiRTri0zdrh9gDIOa5oAsu9YGpRzfhyOpRIR4mvWOuSBOBL1Ur8A7sPfl3+GJYISZ1gVk9ubsHrAzrBTP6s+ggAIaHMcYEArwIHM1sbH5RBGyJEcz1MN9lUq8JPv+0ZkrzqE/eus4lQASiH/ngSu8FaLFQAX99cBhkc9Clrk4Om6RCLzodBsODx3/eDcV9fBgmDbFbhodGGfUKhzc3pV1EDL7LnnneuZ+lQ7t7N9z6yn1ofXMQ9v7NHX9/ThQfdsDuR64nQqQwDwfcv+3d/w8W8bGX0n6gD4Jk/hBN93GEDiGRwCf0rQs83pIsugThXUOpW6UVMVSCYZ8MHubH9j1Xm3ZRUScwIGSgJlYCRSi3TYVogjhTaIJ5FBSKbFcXMKOVgOcUlAs08AQqZvUNJ5BSPTD9JhfyGOfP8QT2YGycyXs2cK9e1UR5k0IRP1d3SMKFSOSapR6R1Zz77GWVFIeyJOnRAOuv1i6kgh8RwL0hdrKKJQcRTgAVxGvh9hzJFLhnRtkXjZ66m6L3WNKIAqoxjRCGJCunfIYYiElN9bVEs/f4dYnvk03FJVY39CWMoZHA109Xsgj/KwV9W9fJJ6YRkSQkEKiwTQAYwiPl8ExfWjXMQguuwR0dhSz+6m+sq76yuDD8hjdVgaFXuYER8gjQ0bAAA=') format('woff2'),
  url('./iconfont.woff?t=1559552188400') format('woff'),
  url('./iconfont.ttf?t=1559552188400') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont.svg?t=1559552188400#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e873";
}

